zsh
alacritty
htop
code
rofi
python
nemo
qutebrowser
lolcat
neofetch
playerctl
brightnessctl
acpi
ttf-font-awesome
picom
imagemagick
networkmanager
maim
xlcip
papirus-icon-theme
pacman-contrib
lxsession
